body, button, input, div {
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    color: white;
}

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

button, input, div {
    border: 1px solid white;
}

div {
    padding: 1%;
    background-color: rgba(0,0,0, 0.8);
}

#control {
    width: 400px;
    position: absolute;
}

canvas {
    display: block;
}